
body {
    color: #fff;
    background: #000;
    font-family: "overpass", sans-serif;

    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

a {
    color: #afa;
    font-weight: 600;
}

.main a[target="_blank"]::before {
    content: " \21f1";

    box-sizing: border-box;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

p {
    font-size: 12px;

    margin-top: 0px;
    margin-bottom: 3px;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    font-variant: small-caps;

    text-align: center;

    margin-bottom: 40px;
}

h2 {
    font-size: 32px;
    font-weight: 700;

    border-bottom: 1px dotted;
    margin-top: 25px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    font-weight: 500;

    margin-top: 10px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    font-weight: 400;

    margin-bottom: 5px;
}

h5 {
    font-size: 14px;
    font-weight: 600;

    margin-top: 5px;
    margin-bottom: 2px;
}

.sidenav {
    color: #fff;
    background-color: #080808;
    text-align: left;
    font-variant: small-caps;

    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;

    padding-right: 8px;
    padding-top: 0;
    border-right: #888 solid 1px;

    transition: 0.5s;
}

.sidenav ul {
    list-style: none;

    padding: 0 0 0 1em;
    margin-top: 0;
    margin-bottom: 0;
}


.sidenav li > a {
    color: #898;

    font-weight: 800;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: -2px;

    display: block;
    padding: 2px 8px 2px 16px;
    margin-left: 0px;

    transition: 0.3s;
}

.sidenav li > a.sub {
    font-weight: 600;
    font-size: 22px;

    padding: 0px 8px 2px 24px;
    margin-left: 2px;
}

.sidenav li > a:hover {
    text-shadow: 8px 8px 16px #000, 8px 8px 8px #000, 8px 8px 4px #000,
                 8px 8px  2px #000, 8px 8px 1px #000, 8px 8px 0px #000;
}

.sidenav li > a[href]:hover, .sidenav li > a[href]:focus {
    color: #fff;
    text-decoration: underline solid;

    padding: 2px 8px 2px 32px;
}

.sidenav li > a[href].sub:hover, .sidenav li > a[href].sub:focus {
    padding: 0px 8px 2px 32px;
}

.sidenav li > a.highlight {
    color: #8f8;
}

.sidenav li:hover, .sidenav li:focus {
    list-style-type: '\25BA';
}

.sidenav footer {
    font-size: 12px;
    font-variant: normal;
    font-weight: 300;
    margin: 4px;
    
}

.main {
    margin-left: 320px;
    margin-right: 7px;

    transition: 0.5s;
}

.main h1 {
    margin-bottom: 10px;
}

.fullpic {
    color: #fff;
    text-align: justify;
    text-shadow: black 2px 2px 5px, black 2px 2px 5px, black 2px 2px 5px, black 2px 2px 5px, black 2px 2px 5px;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    margin-left: 250px;
    margin-right: 0;
    padding: 50px 100px 100px 100px;

    transition: 0.5s;
}

.fullpic h1, .fullpic h2, .fullpic h3, .fullpic h4, .fullpic h5, p {
    background-color: rgba(0,0,0,0.85);

    padding: 3px 5px 2px 5px;
}

.fullpic h1, .fullpic h2, .fullpic h3, .fullpic h4, .fullpic h5 {
    line-height: 0.3em;

    display: inline-block;

    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: none;
}

.fullpic a {
    color: #fff;

    text-decoration: underline;
}

/* Begin DEFCON 201 Logo definitions. */
#header-logos {
    flex-direction: column;  
    white-space: nowrap;

    margin-bottom: 24px;
    padding-top: 25px;

    transition: 0.3s;
}

.dc201-logo {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
}

.njbell-logo {
    background-image: url("../img/njbell-white.svg");

    width: 48px;
    height: 48px;

    transition: 0.5s;
}

.dc201-wordmark {
    font-size: 48px;
    font-family: "dc201-stencil-camera";
    font-weight: normal;
    line-height: 66%;

    margin: 4px;

    transition: 0.5s;
}

.jersey {
    background-image: url("../img/jersey-white.svg");
    width: auto;
    height: auto;
}
.liberty:before { content: "—"; }
.liberty > span { display: none; }

.dc201-logo-subheader > .left-side, #dc201-logo-subheader > .right-side {
    display: none;
}
.dc201-logo-subheader { transition: 0.3s; }

.dc201-logo-subheader > h4 {
    font-family: "Voltaire-webfont";
    font-variant: small-caps;
    font-size: 16px;
    font-weight: bold;
    margin: -4px 54px 0px auto;
}

#container, #top-header, #header-logos, .dc201-logo, .njbell-logo, .dc201-logo-subheader {
    display: flex;
}

.image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.liberty {
    background-size: 166%;
    background-position: center top;
    background-repeat: no-repeat;

    width: auto;
    height: auto;
}

.njbell-logo-print {
    display: none;
}


/* Begin screen size scaling definitions. */
@media screen and (max-height: 450px) {
    #header-logos {
        padding-top: 5px; margin-bottom: 5px;
    }
    .sidenav li > a {
        font-size: 18px; font-weight: 600; letter-spacing: -1px;
    }
    .sidenav li > a.sub {
        font-size: 12px; font-weight: 400; letter-spacing: -1px;
    }
    .sidenav footer {
        font-size: 10px;
    }
}

@media screen and (max-height: 350px) {
    .sidenav {
        width: 200px;
    }
    .sidenav footer {
        font-size: 8px;
    }

    .main {
        margin-left: 220px;
        transition: 0.5s;
    }
    .dc201-logo-subheader {
        opacity: 0;
        line-height: 0;
        transform: scaleY(0);
        transition: 0.3s;
        transform-origin: top;
    }
    .dc201-wordmark {
        font-size: 30px;
        margin: 4px;
        transition: 0.3s;
    }
    .njbell-logo {
        width: 32px;
        height: 32px;
        transition: 0.3s;
    }
    .sidenav li > a[href]:hover, .sidenav li > a[href]:focus {
        padding: 2px 8px 2px 22px;
    }

    .sidenav li > a[href].sub:hover, .sidenav li > a[href].sub:focus {
        padding: 0px 8px 2px 28px;
    }
    .fullpic {
        transition: 0.5s;
        margin-left: 200px;
    }

}

@media screen and (max-height: 250px) {
    .sidenav {
        width: 150px;
    }
    .sidenav footer {
        font-size: 8px;
    }

    .main {
        margin-left: 170px;

        transition: 0.5s;
    }

    #header-logos {
        padding-top: 5px;
    }

    .sidenav li > a {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0px;
    }

    .sidenav li > a.sub {
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .dc201-wordmark {
        font-size: 20px;
        margin: 4px;

        transition: 0.3s;
    }

    .njbell-logo {
        width: 24px;
        height: 24px;

        transition: 0.3s;
    }

    .sidenav li > a[href]:hover, .sidenav li > a[href]:focus {
        padding: 2px 8px 2px 22px;
    }

    .sidenav li > a[href].sub:hover, .sidenav li > a[href].sub:focus {
        padding: 0px 8px 2px 28px;
    }

    .fullpic {
        transition: 0.5s;
        margin-left: 150px;
    }

}


