@font-face {
    font-family: 'tekomedium';
    src: url('teko-medium-webfont.eot');
    src: url('teko-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('teko-medium-webfont.woff2') format('woff2'),
         url('teko-medium-webfont.woff') format('woff'),
         url('teko-medium-webfont.ttf') format('truetype'),
         url('teko-medium-webfont.svg#tekomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

