@font-face {
    font-family: 'tekosemibold';
    src: url('teko-semibold-webfont.eot');
    src: url('teko-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('teko-semibold-webfont.woff2') format('woff2'),
         url('teko-semibold-webfont.woff') format('woff'),
         url('teko-semibold-webfont.ttf') format('truetype'),
         url('teko-semibold-webfont.svg#tekosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

