@font-face {
    font-family: 'tekoregular';
    src: url('teko-regular-webfont.eot');
    src: url('teko-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('teko-regular-webfont.woff2') format('woff2'),
         url('teko-regular-webfont.woff') format('woff'),
         url('teko-regular-webfont.ttf') format('truetype'),
         url('teko-regular-webfont.svg#tekoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

