/* SUBSET

Aa&#x00c4;&#x00e4;&#x0104;&#x0105;&#x0250;&#x0251;&#x039b;&#x03b1;&#x04d4;&#x04d5;&#x1eb0;&#x1eb1;&#x1e00;&#x1e01;&#x05d0;&#x05d1;

*/

/* M+ P Type-1 :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

@font-face
{
font-family: 'M+ P Type-1 (multi latin) Thin';
src: url('mplus-1p-thin-sub.eot');
src: url('mplus-1p-thin-sub.eot?#iefix') format('embedded-opentype'),
url('mplus-1p-thin-sub.woff') format('woff'),
url('mplus-1p-thin-sub.ttf') format('truetype');
}

@font-face
{
font-family: 'M+ P Type-1 (multi latin) Light';
src: url('mplus-1p-light-sub.eot');
src: url('mplus-1p-light-sub.eot?#iefix') format('embedded-opentype'),
url('mplus-1p-light-sub.woff') format('woff'),
url('mplus-1p-light-sub.ttf') format('truetype');
}

@font-face
{
font-family: 'M+ P Type-1 (multi latin) Regular';
src: url('mplus-1p-regular-sub.eot');
src: url('mplus-1p-regular-sub.eot?#iefix') format('embedded-opentype'),
url('mplus-1p-regular-sub.woff') format('woff'),
url('mplus-1p-regular-sub.ttf') format('truetype');
}

@font-face
{
font-family: 'M+ P Type-1 (multi latin) Medium';
src: url('mplus-1p-medium-sub.eot');
src: url('mplus-1p-medium-sub.eot?#iefix') format('embedded-opentype'),
url('mplus-1p-medium-sub.woff') format('woff'),
url('mplus-1p-medium-sub.ttf') format('truetype');
}

@font-face
{
font-family: 'M+ P Type-1 (multi latin) Bold';
src: url('mplus-1p-bold-sub.eot');
src: url('mplus-1p-bold-sub.eot?#iefix') format('embedded-opentype'),
url('mplus-1p-bold-sub.woff') format('woff'),
url('mplus-1p-bold-sub.ttf') format('truetype');
}

@font-face
{
font-family: 'M+ P Type-1 (multi latin) Heavy';
src: url('mplus-1p-heavy-sub.eot');
src: url('mplus-1p-heavy-sub.eot?#iefix') format('embedded-opentype'),
url('mplus-1p-heavy-sub.woff') format('woff'),
url('mplus-1p-heavy-sub.ttf') format('truetype');
}

@font-face
{
font-family: 'M+ P Type-1 (multi latin) Black';
src: url('mplus-1p-black-sub.eot');
src: url('mplus-1p-black-sub.eot?#iefix') format('embedded-opentype'),
url('mplus-1p-black-sub.woff') format('woff'),
url('mplus-1p-black-sub.ttf') format('truetype');
}
